body{
   background-image:url(https://c.tenor.com/i1rsgMyOFgcAAAAd/cat-cat-love.gif);
   background-size: cover;
   background-attachment: fixed;
}
.content{
    background: https://c.tenor.com/i1rsgMyOFgcAAAAd/cat-cat-love.gif;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    }